@import "tailwindcss";

@layer base {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }

  html {
    scroll-behavior: smooth;
    background-color: #000000;
  }

  body {
    background-color: #000000;
    color: #ffffff;
    font-family: var(--font-geist-sans), sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
  }

  /* Forzamos que todos los main y sections intenten centrar su contenido */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* Scrollbar Personalizada */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 10px;
}

/* Utilidad para el scroll del chat */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(37, 99, 235, 0.4);
}